<form action="/update" method="post">
  <div
    class="modal fade"
    id="editmodal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <input type="hidden" name="id" id="id" />
            <label for="nama" class="form-label">Nama</label>
            <input type="text" name="nama" class="form-control" id="namaedit" />
          </div>
          <div class="mb-3">
            <label for="usia" class="form-label"> Usia</label>
            <input
              type="number"
              name="usia"
              class="form-control"
              id="usiaedit"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  
</form>
