<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Crud Node</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <table class="table container" id="mytable">
        <button
          class="btn btn-success"
          data-bs-toggle="modal"
          data-bs-target="#tambah"
        >
          Tambah
        </button>
        <%- include('tambah') %>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody id="read"></tbody>
      </table>
    </div>

    <%- include('edit') %>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"
      integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <script>
      $(document).ready(function () {
        read();
      });
      function read() {
        $.get("/read", {}, function (data, status) {
          $("#read").html(data);
        });
      }
      $("#mytable").on("click", ".edit-btn", function () {
        var id = $(this).data("id");
        var nama = $(this).data("nama");
        var usia = $(this).data("usia");

        $("#editmodal").modal("show");
        $("#id").val(id);
        $("#namaedit").val(nama);
        $("#usiaedit").val(usia);
      });
    </script>
  </body>
</html>
