<% result.forEach((row,i) => { i++ %>
<tr>
  <th scope="row"><%=i++ %></th>
  <td><%= row.nama %></td>
  <td><%= row.usia %></td>
  <td>
    <a
      href="javascript:void(0);"
      class="btn badge rounded btn-primary edit-btn"
      data-id="<%= row.id %>"
      data-nama="<%= row.nama %>"
      data-usia="<%= row.usia %>"
      >Edit</a
    >

    <a
      href="/delete/<%= row.id %> "
      class="btn badge rounded btn-danger"
      onclick="return confirm('yakinnn??')"
      >Hapus</a
    >
  </td>
</tr>
<% }) %>
